<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <meta name="description" content="Site internet officiel de la 106ième unité scoute Saint Dominique située à Stockel"/>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>106ième - Saint Dominique</title>
  </head>

<body class="container">
      
    <header>
        <%- include('./menu.ejs') %>
    </header>

    <main> 
        <h2>Liste des membres : </h2>  
        
          <a class="bouton_addmembre" href='/inscription'>+ Ajouter un membre</a>

        <hr size="1px">
        <!-- ______________________ Affichage des membres ______________________ --> 
          <% listeMembre.forEach(function(membre) { %>
          <%= membre.user_lname  %>
          <%= membre.user_fname  %>
      
      <div class="bouton_membre">
        <!-- ______________________ Bouton - Modification d'un membre ______________________ --> 
        <button>
          <a class="bouton_modifier" href='/membre/update/<%= membre.id_membre %>'>Modifier</a>
        </button>

        <!-- ______________________ Bouton - Suppression d'un membre ______________________ --> 
        <button>
          <a class="bouton_supprimer" onclick="if(confirm('Confirmer la suppression de <%= membre.user_fname %> <%= membre.user_lname %>  ?')) return true; else return false;"
              href='/membre/delete/<%= membre.id_membre %>'>Supprimer</a>
        </button>
        </div>
      <% }); %>
    </main>
</body>

  <footer>
      Site de l'unité Saint-Dominique - 106ième
  </footer>
</html>