<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <meta name="description" content="Site internet officiel de la 106ième unité scoute Saint Dominique située à Stockel"/>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>106ième - Saint Dominique</title>
  </head>

<body class="container"></body>
      
    <header> 
        <%- include('./menu.ejs') %>
    </header>

    <main> 
        <h2>Liste des sections : </h2>      
     
        <hr size="1px">
          <!-- ______________________ Ajout d'une section ______________________ -->
      <div class="form_add_section">
        <form name="section_add" action="/section/add" method="POST">
          <p>Ajouter une section : </p>
          <input name="id_section" type="hidden">

          <input type="text" name="section_name" placeholder="Nom de la section" required autofocus>

          <input type="text" name="dates_reunion" placeholder="Dates de réunion" required autofocus>
          
        <div class="button">
          <button class="bouton_modifier" type="submit" value="save">Valider l'ajout</button>
        </div>
    </form>
  </div>
      <!-- ______________________ Affichage des sections ______________________ -->  
     <div class="affichage_section">  
      <div class="Nom_titre"> <% listeSection.forEach(function(section) { %>
        <%= section.section_name  %>
      </div> 
          
      <!-- ______________________ Modification d'une section ______________________ -->    
      </br>
      <div class="bouton_membre">

        <button>
          <a class="bouton_modifier" href='/section/update/<%= section.id_section %>'>Modifier</a>
        </button>

      <!-- ______________________ Suppression d'une section ______________________ --> 
        <button>
          <a class="bouton_supprimer" onclick="if(confirm('Confirmer la suppression de <%= section.section_name %>  ?')) return true; else return false;"
              href='/section/delete/<%= section.id_section %>'>Supprimer</a>
        </button>
      </div>   
        <hr class="barre_separation" size="1px">
     
        <% }); %>
      </div>
      
    </main>
</body>

  <footer>
      Site de l'unité Saint-Dominique - 106ième
  </footer>
</html>